body{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    color: #d7dfe4;
}

.digit{
    font-size: 150px;
    font-weight: bold;
}

.text{
    font-size: 40px;
    font-weight: bold;
}

#btn-container{
    text-align: center;
    margin-top: 40px;
}

.btn{
    margin: 0px 10px;
    color: white;
    cursor: pointer;
    border: 0px;
    padding: 7px 25px;
    font-size: 15px;
}

#start{
    background-color: green;
}

#stop{
    background-color: blue;
}

#reset{
    background-color: red;
}